<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <div class="background-image">
        <h3 class="contactH3">Behind<br><span>the</span> art befall</h3>
        <p class="contactP">
        <span class="email">Quentin Ceasar<br>
        Email: quentinceasar@gmx.de<br>
    Tel: 015112035422</span> </p>
    <a class="btb"  href="/">[Back to blog]</a>


    </div>
   
</body>

</html>